// ------------ 公共样式 Start ------------

.px2rem(@name, @px) {
    @{name}: @px / 2/50 * 1rem;
}

.px2px(@name, @px) {
    @{name}: round(@px / 2) * 1px;
  [data-dpr="2"] & {
      @{name}: @px * 1px;
  }
  // for mx3
  [data-dpr="2.5"] & {
      @{name}: round(@px * 2.5 / 2) * 1px;
  }
  // for 小米note
  [data-dpr="2.75"] & {
      @{name}: round(@px * 2.75 / 2) * 1px;
  }
  [data-dpr="3"] & {
      @{name}: round(@px / 2 * 3) * 1px;
  }
  // for 三星note4
  [data-dpr="4"] & {
      @{name}: @px * 2px;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bbold {
  font-weight: 700;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

.iblock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

// 解决点击闪烁问题
a, button, input, optgroup, select, textarea, span, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, select {
  appearance: none;
  -webkit-appearance: none;
}

html,
body {
  // 解决滑动卡顿问题
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

// 全局颜色配置
@global-theme-color: #08AFB6;
@global-gray: #333;
@global-light-gray: #444;
@global-lighter-gray: #999;
@global-border-color: #f5f5f5;

// 最外部有背景图
.wrap {
  width: 100% !important;
  overflow: hidden; //盒子塌陷问题
}

// 最外部没有背景图
.wrap-no {
  width: 100% !important;
  background-color: rgb(245, 245, 245);
  overflow: hidden; //盒子塌陷问题
}

// 主体内容部分
.main {
  .px2rem(width, 686);
  .px2rem(min-height, 1200);
  margin: 0 auto;
  .px2rem(margin-top, 32);
  background-color: rgb(245, 245, 245);
}

// 网速很慢
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  ul {
    width: 100%;
    .px2rem(margin-top, 224);
    text-align: center;
    li {
      img {
        .px2rem(height, 270);
        .px2rem(margin-bottom, 30);
      }
      color: #979696;
      .px2rem(font-size, 30);
    }
  }
}

// 固定在页面下的两个按钮
.footer {
  position: fixed;
  .px2rem(width, 750);
  .px2rem(height, 108);
  .px2rem(line-height, 162);
  text-align: center;
  background-color: #fff;
  z-index: 15;
  bottom: 0;
  border-top: 1px solid #ccc;
  a {
    display: inline-block;
    .px2rem(width, 164);
    .px2rem(height, 64);
  }
  .home {
    .px2rem(margin-right, 200);
    background: url("../img/ss_btnzy@2x.png") no-repeat;
    background-size: contain;
  }
  .space {
    background: url("../img/ss_btnwo@2x.png") no-repeat;
    background-size: contain;
  }
}

// 全局大标题
.global-title {
  color: @global-gray;
  font-weight: normal;
  .px2rem(font-size, 34);
  .px2rem(line-height, 82);
  .px2rem(padding-left, 26);
}

// 出租信/求租信 信息展示框
.global-output {
  box-sizing: border-box;
  .px2rem(margin-bottom, 30);
  width: 100%;
  .title {
    box-sizing: border-box;
    background: url("../img/location@2x.png") 0 0 no-repeat;
    background-size: cover !important;
    .px2rem(height, 75);
    position: relative;
    .px2rem(left, -5);
    .px2rem(width, 698);
    .px2rem(font-size, 24);
    .px2rem(line-height, 90);
    color: #000;
    .px2rem(padding-left, 75);
  }
  .detail {
    .px2rem(min-height, 135);
    box-sizing: border-box;
    padding: .1rem .7rem .3rem;
    background-color: #fdfdfd;
    .px2rem(font-size, 22);
    color: @global-light-gray;
    box-shadow: .02rem .03rem .08rem rgb(214, 232, 229);
  }
}

// 出租信/求租信 信息输入框
.global-input {
  position: relative;
  box-sizing: border-box;
  .px2rem(margin-bottom, 30);
  width: 100%;
  .title {
    box-sizing: border-box;
    background: url("../img/location@2x.png") no-repeat;
    background-size: cover !important;
    .px2rem(height, 75);
    position: relative;
    .px2rem(left, -5);
    .px2rem(width, 698);
    .px2rem(font-size, 26);
    .px2rem(line-height, 90);
    color: #000;
    .px2rem(padding-left, 75);
  }
  .detail {
    .px2rem(min-height, 135);
    resize: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: .1rem .7rem .3rem;
    background-color: #fdfdfd;
    .px2rem(font-size, 24);
    color: @global-light-gray;
    border-radius: 0;
    box-shadow: .02rem .05rem .08rem rgb(214, 232, 229);
  }
  .warning {
    position: absolute;
    .px2rem(bottom, -30);
    .px2rem(left, 20);
    .px2rem(font-size, 24);
    color: red;
  }
}

// 用户头像 & 昵称
.userInfo {
  .px2rem(height, 230);
  overflow: hidden;
  .head_img {
    .px2rem(width, 150);
    .px2rem(height, 150);
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    .px2rem(margin-top, 20);
    .px2rem(margin-bottom, 16);

  }
  .personal-refe {
    text-align: center;
    .px2rem(font-size, 24);
    span {
      color: #4d4d4d;
    }
  }
}

// ------------ 公共样式 End ------------

// ------- 以下为各个页面的独立样式 --------

.main-protocol {
  box-sizing: border-box;
  .px2rem(padding, 32);
  .px2rem(font-size, 26);
  h1 {
    .px2rem(font-size, 30);
    text-align: center;
    .px2rem(margin-bottom, 32);
  }
  ol {
    h2 {
      .px2rem(font-size, 28);
      .px2rem(margin-bottom, 32);
      .px2rem(margin-top, 32);
    }
    li {
      .px2rem(line-height, 40);
    }
  }
}

//验黑验白弹窗
.test {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  overflow-y: hidden;

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }
  ul {
    .px2rem(width, 622);
    .px2rem(height, 362);
    position: absolute;
    top: 50%;
    left: 50%;
    .px2rem(margin-left, -310);
    .px2rem(margin-top, -250);
    background: url("../img/br_dibua@2x.png") no-repeat;
    background-size: 100% 100%;
    .px2rem(font-size, 32);

    li:nth-of-type(1) {
      text-align: center;
      .px2rem(margin-top, 71);
      .px2rem(margin-bottom, 28);
    }
    li:nth-of-type(2) {
      .px2rem(width, 264);
      .px2rem(height, 108);
      margin: 0 auto;
      background: url("../img/br_btnwod@2x.png") 0 0 no-repeat;
      background-size: 100% 100%;
      .px2rem(margin-top, 50);
    }
    li.sure {
      background: url("../img/cz_btnok@2x.png") 0 0 no-repeat;
      background-size: 100% 100%;
    }
    li.text-close {
      .px2rem(width, 284);
      .px2rem(height, 85);
      margin: 0 auto;
      background: url("../img/bye.png") center no-repeat;
      background-size: contain;
      .px2rem(margin-top, 75);
    }
    li.close-condition {
      width: 100%;
      text-align: center;
      background: none;
      a {
        //float: left;
        display: inline-block;
        .px2rem(width, 280);
        .px2rem(height, 88);
        &:nth-of-type(1) {
          background: url("../img/a.png") center no-repeat;
          background-size: contain;
        }
        &:nth-of-type(2) {
          background: url("../img/b.png") center no-repeat;
          background-size: contain;
        }

      }
    }
    li.show-again {
      .px2rem(width, 316);
      .px2rem(height, 28);
      margin: 0 auto;
      background: url("../img/show-again .PNG") center no-repeat;
      background-size: contain;
      .px2rem(margin-top, 100);
      .px2rem(margin-bottom, 70);
    }
  }

  .share-box {
    text-align: center;
    .px2rem(width, 660);
    .px2rem(height, 560);
    position: absolute;
    top: 50%;
    left: 50%;
    .px2rem(margin-left, -330);
    .px2rem(margin-top, -380);
    background: url("../img/sharebg.png") no-repeat;
    background-size: cover;
    .px2rem(font-size, 32);
    h3 {
      color: #666;
      .px2rem(font-size, 34);
      .px2rem(padding-top, 48);
      .px2rem(padding-bottom, 80);
      font-weight: normal;
    }

    .wxbox {
      font-size: 0;
      .px2rem(padding-bottom, 75);
      .px2rem(margin-left, 10);
      .px2rem(margin-right, 10);
      .px2rem(margin-bottom, 30);
      border-bottom: 2px dotted rgb(178, 200, 201);
      .wx-btn {
        display: inline-block;
        .px2rem(width, 116);
        .px2rem(height, 119);
        background: url("../img/weixin@2x.png") 0 0 no-repeat;
        background-size: contain;
        .px2rem(padding-right, 120);
      }
      .pyq-btn {
        display: inline-block;
        .px2rem(width, 116);
        .px2rem(height, 119);
        background: url("../img/pengyouquan@2x.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
    p {
      color: @global-lighter-gray;
      .px2rem(font-size, 20);
      .px2rem(line-height, 50);
    }

  }

  .closeShare {
    width: 100%;
    .px2rem(height, 70);
    background: url("../img/guanbi@2x.png") center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 28%;

  }

  /*关注弹框*/
  .attention-box {
    text-align: center;
    .px2rem(width, 660);
    .px2rem(height, 611);
    position: absolute;
    top: 50%;
    left: 50%;
    .px2rem(margin-left, -330);
    .px2rem(margin-top, -380);
    background: url("../img/attention-bg.png") no-repeat;
    background-size: cover;
    .px2rem(font-size, 32);
    .atten-mess {
      .px2rem(padding-top, 150);
      .px2rem(padding-bottom, 90);
      .px2rem(margin-bottom, 40);
      border-bottom: 2px dotted #b7cccd;
      .excuse {
        .px2rem(font-size, 36);
        .px2rem(margin-bottom, 30);
        color: #24cad0;
        font-weight: 400;
      }
      p {
        .px2rem(font-size, 28);
        .px2rem(line-height, 45);
        color: #666;
        span {
          color: #24cad0;
        }
      }
    }
    .atten-btn {
      text-align: center;
      .no {
        .px2rem(width, 229);
        .px2rem(height, 88);
        background: url("../img/xianzaiguanzhu@2x.png") center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        .px2rem(margin-right, 76);
      }
      .on {
        .px2rem(width, 229);
        .px2rem(height, 88);
        background: url("../img/yiguanzhu@2x.png") center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }

  /*关闭消防本弹框*/
  .closehouse {
  }
}

//主页
.home {
  .head {
    width: 100%;
    .px2rem(height, 170);
    background-color: #fff;
    .px2rem(margin-top, 50);
    overflow: hidden;
  }
  .title {
    .px2rem(width, 490);
    .px2rem(height, 87);
    margin: 0 auto;
    .px2rem(margin-top, 50);
    background: url("../img/sy_title@2x.png") 0 0 no-repeat;
    background-size: contain;
  }
  .middle {
    overflow: hidden;
    .px2rem(height, 760);
    .left {
      width: 50%;
      float: left;
      .leftimg {
        .px2rem(width, 351);
        .px2rem(height, 153);
        .px2rem(margin-top, 136);
        .px2rem(margin-left, 32);
        background: url("../img/sy_des@2x.png") 0 0 no-repeat;
        background-size: contain;
      }
      .leftbtn {
        .px2rem(width, 255);
        .px2rem(height, 88);
        .px2rem(margin-top, 50);
        .px2rem(margin-left, 52);
        background: url("../img/sy_btna@2x.png") no-repeat;
        background-size: contain;
      }
    }
    .right {
      width: 50%;
      float: left;
      .rightimg {
        .px2rem(width, 312);
        .px2rem(height, 159);
        .px2rem(margin-top, 30);
        .px2rem(margin-left, -20);
        background: url("../img/sy_des2@2x.png") no-repeat;
        background-size: contain;
      }
      .rightbtn {
        display: block;
        .px2rem(width, 255);
        .px2rem(height, 88);
        .px2rem(margin-top, 344);
        .px2rem(margin-left, 80);
        background: url("../img/sy_btnb@2x.png") no-repeat;
        background-size: contain;
      }
    }
  }
  .bot {
    .px2rem(height, 420);
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    .px2rem(font-size, 26);
    div {
      .px2rem(margin-top, 50);
      .px2rem(font-size, 28);
      input {
        background: url("../img/sy_check@2x.png") no-repeat;
        background-size: contain;
      }
      a {
        color: #41dfe6;
        text-decoration: none;
      }
    }
    p:nth-of-type(1) {
      color: #d1d1d1;
      .px2rem(margin-top, 24);
    }
    p:nth-of-type(2) {
      color: #ada8a7;
      .px2rem(margin-top, 24);
    }
  }
}

//搜索页面
.search {
  .search-no {
    position: absolute;
    background-color: #fff;
    .px2rem(margin-top, 164);
    ul {
      width: 100%;
      text-align: center;
      .px2rem(margin-top, 164);
      .px2rem(font-size, 30);
      color: #a2a2a1;
      .px2rem(line-height, 50);
    }
    div {
      .px2rem(margin-top, 80);
      .px2rem(line-height, 60);
      a {
        display: block;
        text-align: center;
        color: #25d0c1;
        .px2rem(font-size, 26);
      }
    }
  }
  .main {
    background-color: transparent;
    .head {
      position: absolute;
      .px2rem(height, 100);
      z-index: 4;
      .px2rem(margin-top, 26);
      .inp {
        .px2rem(width, 340);
        .px2rem(height, 99);
        background: url("../img/ss_search@2x.png") no-repeat;
        background-size: contain;
        text-align: center;
        float: left;
        input {
          .px2rem(width, 270);
          border: 0;
          .px2rem(margin-top, 35);
          .px2rem(margin-left, 4);
          .px2rem(font-size, 24);
          background-color: transparent;
          float: left;
        }
        span {
          .px2rem(width, 32);
          .px2rem(height, 30);
          .px2rem(margin-top, 35);
          .px2rem(margin-left, 20);
          float: left;
          background: url("../img/ss_sou.png") 0 0 no-repeat;
          background-size: 100% 100%;
        }
      }
      .search_choose {
        .px2rem(width, 150);
        .px2rem(padding-left, 30);
        .px2rem(margin-left, 10);
        .px2rem(height, 99);
        float: left;
        background: url("../img/ss_search2@2x.png") 0 0 no-repeat;
        background-size: 100% 100%;
        select {
          .px2rem(width, 140);
          .px2rem(height, 99);
          .px2rem(font-size, 28);
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background-color: transparent;
          border: 0;
          background: url("../img/ss_xiala@2x.png") 85% 50% no-repeat;
          background-size: 20%;
        }
      }
      .searchBtn {
        .px2rem(width, 129);
        .px2rem(height, 99);
        float: left;
        .px2rem(margin-left, 25);
        background: url("../img/ss_btnsou@2x.png") 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    .drapList {
      position: absolute;
      z-index: 3;
      .px2rem(width, 240);
      .px2rem(padding-left, 48);
      .px2rem(padding-top, 90);
      .px2rem(margin-top, 60);
      .px2rem(padding-right, 34);
      background: url("../img/drop_bg@2x.png") 0 0 no-repeat;
      background-size: 100% 100%;
      li {
        .px2rem(font-size, 24);
        color: #4F504D;
        .px2rem(margin-bottom, 30);
        .drop_right {
          .px2rem(width, 14);
          .px2rem(height, 20);
          .px2rem(margin-top, 5);
          background: url("../img/drop_right@2x.png") 0 0 no-repeat;
          background-size: 100% 100%;
          float: right;
        }
      }
    }
    .main_text {
      .px2rem(width, 686);
      .px2rem(margin-top, 150);
      background-color: #fff;
      position: absolute;
      z-index: 2;
      .messages {
        .user {
          .px2rem(padding, 30);
          .px2rem(height, 220);
          .px2rem(border-width, 1);
          .rightArrow {
            .px2rem(width, 15);
            .px2rem(height, 35);
            background: url("../img/ss_gengduo@2x.png") 0 0 no-repeat;
            background-size: 100% 100%;
            float: right;
            .px2rem(margin-top, -120);
          }
          .user_info {
            .px2rem(height, 120);
            .px2rem(font-size, 24);
            .head_img {
              .px2rem(width, 110);
              .px2rem(height, 110);
              float: left;
              background-color: red;
              border-radius: 50%;
              .px2rem(margin-right, 20);
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .nackname {
              .px2rem(width, 490);
              .px2rem(height, 40);
              .px2rem(margin-top, 15);
              float: left;
              color: #71dfed;
            }
            .release_time {
              .px2rem(width, 490);
              .px2rem(height, 40);
              .px2rem(margin-top, 5);
              float: left;
              color: #C5C4C4;
            }
          }
          .user_title {
            color: #474646;
            .px2rem(font-size, 32);
            .px2rem(margin-top, 10);
            .px2rem(margin-bottom, 10);
          }
          .user_mes {
            .px2rem(font-size, 26);
            color: #9c9d9a;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .line {
            width: 100%;
            overflow: hidden;
          }
        }
      }
      .cut-line {
        .px2rem(height, 60);
        border-bottom: 1px dashed #7dd5c9;
        .px2rem(margin-bottom, 40);
        position: relative;
        text-align: center;
        span {
          background-color: #fff;
          display: block;
          color: #7dd5c9;
          .px2rem(padding-left, 10);
          .px2rem(padding-right, 10);
          position: absolute;
          .px2rem(top, 40);
          left: 50%;
          .px2rem(margin-left, -135);
        }
      }
    }
  }
}

//登记页
.login {
  .main-item {
    .px2rem(width, 686);
    .px2rem(min-height, 1270);
    margin: 0 auto;
    .px2rem(margin-top, 32);
    text-align: center;
    .px2rem(font-size, 30);
    ul {
      width: 100%;
      .px2rem(min-height, 420);
      background-color: #fff;
      text-align: center;
      overflow: hidden;
      .px2rem(margin-bottom, 26);
      li:nth-of-type(1) a {
        display: block;
        .px2rem(width, 230);
        .px2rem(height, 100);
        background: url("../img/dj_btncz.png") 0 0 no-repeat;
        background-size: contain;
        margin: 0 auto;
        .px2rem(margin-top, 158);
        .px2rem(margin-bottom, 36);
      }
    }
    ul:nth-of-type(2) {
      li:nth-of-type(1) a {
        background: url("../img/dj_btnqz@2x.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
    ul:nth-of-type(3) {
      li:nth-of-type(1) {
        .px2rem(margin-top, 90);
        .px2rem(text-indent, 40);
        .xiala {
          .px2rem(width, 20);
          .px2rem(height, 20);
          .px2rem(margin-top, 18);
          .px2rem(margin-right, 60);
          float: right;
          background: url("../img/dj_xiala@2x.png") 0 0 no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

// 个人主页-房本为空
.space-empty {

  .space-empty-main {
    background-color: rgb(245, 245, 245);
    .px2rem(width, 686);
    .px2rem(min-height, 1200);
    margin: 0 auto;
    .px2rem(margin-top, 32);
    .user_info {
      .px2rem(width, 686);
      .px2rem(height, 336); //          background-color: pink;
      overflow: hidden;
      .head_img {
        .px2rem(width, 150);
        .px2rem(height, 150);
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
        .px2rem(margin-top, 50);
        .px2rem(margin-bottom, 16);
        overflow: hidden;
        border: 2px solid #999890;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        img {
          width: 100%;
          .px2rem(min-height, 150);
        }
      }
      .nackname {
        text-align: center;
        .px2rem(font-size, 24);
        span {
          color: #4d4d4d;
        }
      }
      li:nth-of-type(3) {
        .px2rem(font-size, 34);
        .px2rem(margin-left, 40);
        .px2rem(margin-bottom, 20);
      }
    }
    .rent {
      .px2rem(width, 686);
      .px2rem(height, 410);
      background-color: #fff;
      text-align: center;
      overflow: hidden;
      .px2rem(margin-bottom, 35);
      border: 1px solid #c6c5c5;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      li:nth-of-type(1) a {
        display: block;
        .px2rem(width, 270);
        .px2rem(height, 100);
        background: url("../img/zy_btndian@2x.png") 0 0 no-repeat;
        background-size: contain;
        margin: 0 auto;
        .px2rem(margin-top, 142);
        .px2rem(margin-bottom, 36);

      }
      li:nth-of-type(2) {
        .px2rem(width, 332);
        .px2rem(height, 26);
        background: url("../img/zy_wei@2x.png") 0 0 no-repeat;
        background-size: contain;

        margin: 0 auto;
        .px2rem(margin-bottom, 36);
      }
    }
    .follow {
      width: 100%;
    }
  }
}

// 写求租信
.wanted {
  .wanted-main {
    .wanted-title {
      text-align: center;
      .px2rem(font-size, 34);
      color: @global-gray;
      .px2rem(margin-top, 50);
      img {
        .px2rem(width, 49);
        .px2rem(height, 62);
      }
    }
    .subway {
      .px2rem(margin-top, 35);
      .px2rem(font-size, 26);
      .px2rem(line-height, 50);
      color: @global-light-gray;
      .add {
        vertical-align: sub;
        display: inline-block;
        .px2rem(margin-left, 5);
        .px2rem(width, 35);
        .px2rem(height, 35);
        background: url("../img/add-subway@2x.png") 0 0 no-repeat;
        background-size: contain;
      }
      ul {
        .px2rem(margin-top, 40);
        .px2rem(margin-bottom, 40);
        li {
          .px2rem(margin-bottom, 20);
        }
        select {
          position: relative;
          border: none;
          .px2rem(padding-left, 30);
          .px2rem(font-size, 28);
          .px2rem(width, 200);
          .px2rem(height, 86);
          background: url("../img/xuanz@2x.png") 0 0 no-repeat;
          background-size: contain;
        }
        label {
          position: relative;
          &::after {
            position: absolute;
            top: 0;
            .px2rem(right, 25);
            content: '';
            display: inline-block;
            .px2rem(width, 39);
            .px2rem(height, 33);
            background: url("../img/xiala@2x.png") 0 0 no-repeat;
            background-size: contain;
          }
        }
        .middle {
          .px2rem(margin-left, 32);
          .px2rem(margin-right, 32);
        }
      }
    }

    .location {
      .title {
        background: url("../img/address@2x.png") no-repeat;
      }
    }

    .cost {
      .title {
        background: url("../img/cost@2x.png") no-repeat;
      }
    }

    .people {
      .title {
        background: url("../img/people@2x.png") no-repeat;
      }
    }

    .you {
      .title {
        background: url("../img/you@2x.png") no-repeat;
      }
    }

    .connect {
      .title {
        background: url("../img/connect@2x.png") no-repeat;
      }
    }
    .delay {
      .title {
        background: url("../img/delay@2x.png") no-repeat;
      }
      .detail {
        -webkit-appearance: none;
        outline: none;
        .px2rem(min-height, 100);
        padding: 0.05rem .7rem .35rem;
        #date {
          .px2rem(line-height, 72);
        }
        #picker {
          float: right;
          .px2rem(width, 130);
          .px2rem(height, 72);
          background: url("../img/rili@2x.png") top center no-repeat;
          background-size: contain;
          border-left: 1px solid rgb(223, 223, 223);
          border-right: 1px solid rgb(223, 223, 223);
          .px2rem(border-radius, 20);
        }
      }
    }
    .phone {
      .title {
        background: url("../img/myself@2x.png") no-repeat;
      }
      .detail {
        .px2rem(min-height, 100);
      }
    }
  }

  #enter {
    .px2rem(margin-top, 40);
    .px2rem(margin-bottom, 40);
    text-align: center;
    #enter-button {
      border: none;
      .px2rem(width, 270);
      .px2rem(height, 85);
      background: url("../img/qz_btnok@2x.png") 0 0 no-repeat;
      background-size: contain;
    }
  }
}

// 写出租信
.rent {
  .rent-main {
    .rent-title {
      text-align: center;
      .px2rem(font-size, 34);
      color: @global-gray;
      .px2rem(margin-top, 50);
      img {
        .px2rem(width, 49);
        .px2rem(height, 62);
      }
    }

    .subway {
      .px2rem(margin-top, 35);
      .px2rem(font-size, 26);
      .px2rem(line-height, 50);
      color: @global-light-gray;
      ul {
        .px2rem(margin-top, 40);
        .px2rem(margin-bottom, 40);
        li {
          .px2rem(margin-bottom, 20);
        }
        select {
          position: relative;
          border: none;
          .px2rem(padding-left, 30);
          .px2rem(font-size, 28);
          .px2rem(width, 200);
          .px2rem(height, 86);
          background: url("../img/xuanz@2x.png") no-repeat;
          background-size: contain;

        }
        label {
          position: relative;
          &::after {
            position: absolute;
            top: 0;
            .px2rem(right, 25);
            content: '';
            display: inline-block;
            .px2rem(width, 39);
            .px2rem(height, 33);
            background: url("../img/xiala@2x.png") no-repeat;
            background-size: contain;

          }
        }
        .middle {
          .px2rem(margin-left, 32);
          .px2rem(margin-right, 32);
        }
      }
    }

    .location {
      .title {
        background: url("../img/address@2x.png") no-repeat;
      }
    }

    .cost {
      .title {
        background: url("../img/cost@2x.png") no-repeat;
      }
    }

    .people {
      .title {
        background: url("../img/people@2x.png") no-repeat;
      }
    }

    .you {
      .title {
        background: url("../img/you@2x.png") no-repeat;
      }
    }

    .me {
      .title {
        background: url("../img/myself@2x.png") no-repeat;
      }
    }

    .connect {
      .title {
        background: url("../img/connect@2x.png") no-repeat;
      }
    }

    .delay {
      .title {
        background: url("../img/delay@2x.png") no-repeat;
      }
      .detail {
        -webkit-appearance: none;
        outline: none;
        .px2rem(min-height, 100);
        padding: 0.05rem .7rem .35rem;
        #date {
          .px2rem(line-height, 72);
        }
        #picker {
          float: right;
          .px2rem(width, 130);
          .px2rem(height, 72);
          background: url("../img/rili@2x.png") top center no-repeat;
          background-size: contain;

          border-left: 1px solid rgb(223, 223, 223);
          border-right: 1px solid rgb(223, 223, 223);
          .px2rem(border-radius, 20);
        }
      }
    }

    .phone {
      .title {
        background: url("../img/myself@2x.png") no-repeat;
      }
    }
  }
  .uploadPhoto {
    .title {
      .px2rem(font-size, 30);
    }
    #file-picker {
      .px2rem(font-size, 30);
    }
    #photo-list {
      overflow: auto;
      .px2rem(padding-top, 45);
      div {
        display: inline-block;
        position: relative;
        float: left;
        .px2rem(padding-right, 15);
        .px2rem(padding-bottom, 25);
        .cancel {
          position: absolute;
          .px2rem(top, -19);
          .px2rem(right, 10);
          display: block;
          .px2rem(width, 38);
          .px2rem(height, 38);
          background: url("../img/x@2x.png") 0 0 / contain no-repeat;
        }
        img {
          .px2rem(width, 120);
        }
        .cancel {
          .px2rem(width, 38);
          .px2rem(height, 38);
          position: absolute;
          right: 0;
          .px2rem(top, -19);
          background: url("../img/x@2x.png") 0 0 / contain no-repeat;
        }
      }

    }
  }
  #enter {
    .px2rem(margin-top, 40);
    .px2rem(margin-bottom, 40);
    text-align: center;
    #enter-button {
      border: none;
      .px2rem(width, 270);
      .px2rem(height, 85);
      background: url("../img/qz_btnok@2x.png") no-repeat;
      background-size: contain;

    }
  }
}

// 标签页
.wantedLetter {
  .loading {
    .px2rem(width, 750);
    .px2rem(min-height, 1334);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    .load-wrap {
      .px2rem(width, 642);
      .px2rem(height, 483);
      background: url("../img/cz_wenzi@2x.png") no-repeat;
      background-size: contain;

      //          .px2rem(margin-left,54);
      //          .px2rem(margin-top,362);
      text-align: center;
      overflow: hidden;
      li:nth-of-type(1) {
        .px2rem(width, 160);
        .px2rem(height, 160);
        background: url("../img/loading.gif") 0 0 no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        .px2rem(margin-top, 50);
        .px2rem(margin-bottom, 20);
      }
      li:nth-of-type(2) {
        .px2rem(width, 225);
        .px2rem(height, 50);
        margin: 0 auto;
        background: url("../img/cz_toudi@2x.png") no-repeat;
        background-size: contain;

      }
    }
  }
  h1 {
    .px2rem(width, 750);
    .px2rem(height, 110);
    .px2rem(font-size, 34);
    color: #3c3a38;
    text-align: center;
    .px2rem(line-height, 110);
    font-weight: normal;
  }
  .wantedLabel {
    .px2rem(padding, 32);
    overflow: hidden;
    background-color: #fff;
    h2 {
      .px2rem(font-size, 28);
      color: #464545;
      font-weight: normal;
      .px2rem(margin-bottom, 32);
      span {
        .px2rem(font-size, 24);
        color: #e7e8e5;
      }
    }
    .wanted-label-list {
      .px2rem(width, 750);
      li {
        float: left;
        .px2rem(font-size, 26);
        .px2rem(width, 200);
        text-align: center;
        .px2rem(padding-top, 35);
        .px2rem(padding-bottom, 35);
        .px2rem(margin-bottom, 28);
        .px2rem(margin-right, 30);
      }
      li.haveBr {
        .px2rem(padding-top, 10);
        .px2rem(padding-bottom, 15);
      }
    }
  }
  .letterTittle {
    .px2rem(width, 750);
    .px2rem(height, 184);
    h2 {
      .px2rem(height, 92);
      .px2rem(line-height, 92);
      .px2rem(font-size, 28);
      .px2rem(margin-left, 32);
      color: #464545;
      font-weight: normal;
    }
    textarea {
      width: 100%;
      box-sizing: border-box;
      .px2rem(padding, 10);
      .px2rem(min-height, 80);
      .px2rem(font-size, 24);
      color: #ada8a7;
      border: 0;
    }
  }
  .deliver {
    .px2rem(height, 162);
    div {
      .px2rem(width, 361);
      .px2rem(height, 88);
      display: block;
      background: url("../img/qz_btntou@2x.png") no-repeat;
      background-size: contain;

      margin: 0 auto;
      .px2rem(margin-top, 57);
    }
  }
}

// 个人主页
.space {
  .space-main {
    .px2rem(margin-top, 0);
    h1 {
      .global-title;
    }
    .info {
      overflow: hidden;
      .avatar {
        margin: 0 auto;
        border-radius: 50%;
        background-color: pink;
        .px2rem(width, 141);
        .px2rem(height, 141);
        .px2rem(margin-top, 77);
        .px2rem(margin-bottom, 16);
        border: 2px solid #999890;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        img {
          width: 100%;
          .px2rem(min-height, 141);
        }
      }
      .name {
        text-align: center;
        .px2rem(font-size, 24);
        .px2rem(margin-bottom, 16);
        span {
          color: @global-gray;
        }
      }
    }
    .create {
      display: inline-block;
      background: url("../img/create@2x.png") no-repeat;
      background-size: contain;

      vertical-align: sub;
      .px2rem(width, 34);
      .px2rem(height, 34);
    }
    .title-my {
      display: inline-block;
      vertical-align: center;
    }
    .project {
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      .px2rem(padding-top, 45);
      .px2rem(padding-left, 20);
      .px2rem(padding-right, 20);
      .px2rem(padding-bottom, 35);
      border-top: 1px solid #f5f5f5;
      .project-img {
        position: relative;
        .px2rem(height, 140);
        .px2rem(width, 140);
        float: left;
        .px2rem(margin-right, 20);
        .px2rem(margin-bottom, 55);
        background: #cce0e1 url("../img/show-pic-bg.png") center no-repeat;
        background-size: contain;
        overflow: hidden;
        img{
          width:100%;
          .px2rem(min-height, 140);

        }
        .count-photo {
          .px2rem(width, 50);
          .px2rem(height, 32);
          background: url("../img/count-photo@2x.png") no-repeat;
          background-size: contain;

          text-align: center;
          color: #fefefe;
          position: absolute;
          .px2rem(right, 5);
          .px2rem(bottom, 5);
        }
      }
      .project-info {
        position: relative;
        .px2rem(width, 486);
        .px2rem(height, 140);
        float: left;
        .px2rem(font-size, 24);
        color: #6c6d68;
        .title {
          .px2rem(font-size, 28);
          color: #4d4d4d;
        }
        .detail {
          width: 100%;
          //overflow: auto;
          position: absolute;
          bottom: 0;
          .time {
            display: inline-block;
            .px2rem(height, 28);
            vertical-align: middle;
            .px2rem(margin-right, 26);
            img {
              vertical-align: text-bottom;
              .px2rem(height, 28);
            }
          }
          .like {
            .time;
          }
          .dislike {
            .time;
          }
          .count {
            position: absolute;
            right: 0;
            .px2rem(bottom, 4);
            .px2rem(height, 28);
            img {
              vertical-align: text-bottom;
              .px2rem(height, 28);
            }
          }
        }
      }
      .control {
        overflow: auto;
        clear: both;
        li {
          .px2rem(width, 190);
          float: left;
          a {
            width: 100%;
            .px2rem(height, 88);
            display: block;
            background: url("../img/close@2x.png") no-repeat;
            background-size: contain;

          }
          .edit {
            background: url("../img/edit@2x.png") no-repeat;
            background-size: contain;

          }
          &.sharebtn a{
            background: url("../img/share@2x.png") no-repeat;
            background-size: contain;

          }
        }
        .middle {
          .px2rem(margin-left, 38);
          .px2rem(margin-right, 38);
        }
      }

      .open-agin {
        overflow: auto;
        clear: both;
        display: none;
        .open-again-btn {
          a {
            display: block;
            margin: 0 auto;
            .px2rem(width, 280);
            .px2rem(height, 88);
            background: url("../img/open-again.png") center no-repeat;
            background-size: contain;
          }
          p {
            /*display: block;
            margin:0 auto;
            .px2rem(width, 316);
            .px2rem(height, 28);
            .px2rem(margin-top, 15);
            background: url("../img/show-again.png") center no-repeat;
            background-size: contain;*/
            text-align: center;
            .px2rem(margin-top, 15);
            color: #6c6d68;

          }
        }
      }
    }
    .wallet {
      background-color: #fff;
      color: #d2d2d2;
      .px2rem(font-size, 30);
      .px2rem(line-height, 72);
      .px2rem(padding-top, 34);
      .px2rem(padding-right, 50);
      .px2rem(padding-bottom, 34);
      .px2rem(padding-left, 25);
      a {
        float: right;
        .px2rem(width, 159);
        .px2rem(height, 73);
        background: url("../img/hongbaozufang@2x.png") no-repeat;
        background-size: contain;
      }
    }
    .vip-member {
      .px2rem(margin-bottom, 90);
      width: 100%;
      .px2rem(height, 356);
      background-color: #fff;
      overflow: hidden;
      ul {
        .px2rem(margin-top, 18);
        .px2rem(margin-bottom, 42);
        li {
          margin: 0 auto;
          .px2rem(height, 110);
          .px2rem(width, 646);
          a {
            .px2rem(width, 196);
            .px2rem(height, 92);
            display: block;
            background: url("../img/zy_yi@2x.png") no-repeat;
            background-size: contain;
            float: left;
            .px2rem(margin-right, 18);
          }
          a.twoCloud {
            background: url("../img/zy_er@2x.png") no-repeat;
            background-size: contain;
          }
          a.threeCloud {
            background: url("../img/zy_san@2x.png") no-repeat;
            background-size: contain;
          }
          .right {
            .px2rem(width, 430);
            float: left;
            span {
              float: left;
              width: 100%;
              .px2rem(font-size, 24);
              color: #f77686;
              .px2rem(margin-top, 6);
            }
            .vipInfo {
              color: @global-gray;
            }
          }
        }
      }
    }
  }
}

// 详情页
.detail {
  .detail-main {
    overflow-x: hidden;
    .px2rem(margin-bottom, 108);
    .px2rem(padding-bottom, 35);
    .other-info {
      .px2rem(padding-left, 40);
      .px2rem(padding-right, 40);
      background-color: rgb(253, 253, 253);
      border-bottom: 1px solid rgb(225, 225, 225);
      .userInfo {
        height: auto;
        .top {
          .head_img {
            .px2rem(margin-top, 55);
            border: 2px solid #999890;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            img {
              width: 100%;
              .px2rem(min-height, 150);

            }
          }
        }
        .bot {
          .px2rem(height, 60);
          .px2rem(padding-bottom, 20);
        }
      }
      .label-list {
        box-sizing: border-box;
        width: 100%;
        .px2rem(height, 90);
        li {
          float: left;
          .px2rem(font-size, 26);
          .px2rem(width, 190);
          text-align: center;
          background: url("../img/lbg2@2x.png") 0 0 no-repeat;
          background-size: 100% 100%;
          color: #fff;
          box-sizing: border-box;
          .px2rem(height, 90);
          .px2rem(line-height, 90);
          .px2rem(padding-left, 20);
          .px2rem(padding-right, 20);
        }
        .middle {
          .px2rem(margin-left, 17);
          .px2rem(margin-right, 17);
        }
      }
      .about-info {
        .px2rem(padding-top, 50);
        .title {
          text-align: left;
          .px2rem(font-size, 34);
          color: @global-gray;
        }
        .release_time {
          text-align: right;
          .px2rem(font-size, 24);
          color: #6c6d68;
          .px2rem(margin-top, 14);
          .px2rem(padding-bottom, 30);
        }
      }
    }
    .homeBook-info {
      .px2rem(margin-top, 38);
      .px2rem(margin-bottom, 35);
      background-color: rgb(243, 243, 243);
      .location {

      }
      .address {
        .title {
          background: url("../img/address@2x.png") no-repeat;
        }
      }
      .cost {
        .title {
          background: url("../img/cost@2x.png") no-repeat;
        }
      }
      .people {
        .title {
          background: url("../img/people@2x.png") no-repeat;
        }
      }
      .you {
        .title {
          background: url("../img/you@2x.png") no-repeat;
        }
      }
      .me {
        .title {
          background: url("../img/myself@2x.png") no-repeat;
        }
      }
      .connect {
        .title {
          background: url("../img/connect@2x.png") no-repeat;
        }
      }
      .delay {
        .title {
          background: url("../img/delay@2x.png") no-repeat;
        }
      }

      //房间照片
      .homePhoto {
        width: 100%;
        //      .px2rem(height,418);
        //      background-color: red;
        //.px2rem(margin-bottom, 38);
        .ph {
          width: 100%;
          .px2rem(padding-top, 77);
          .px2rem(padding-bottom, 77);
          .px2rem(margin-bottom, 40);
          background-color: #fff;
          box-shadow: .02rem .03rem .08rem rgb(214, 232, 229);
          img {
            width: 100%;
          }
        }
      }
    }
    .forward {
      .px2rem(margin-top, 50);
      text-align: center;
      button {
        border: none;
        .px2rem(height, 83);
        .px2rem(width, 207);
        background: url("../img/forward@2x.png") 0 0 no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
    .focus {
      .px2rem(margin-top, 45);
      .px2rem(height, 188);
      background: url("../img/follow2@2x.png") 0 0 no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  .fix {
    z-index: 10;
    position: fixed;
    .px2rem(bottom, 200);
    .px2rem(right, 20);
    .fix-white {
      box-sizing: border-box;
      .px2rem(padding-left, 65);
      .px2rem(padding-top, 45);
      .px2rem(font-size, 28);
      .px2rem(height, 121);
      .px2rem(width, 120);
      background: url("../img/fix-black@2x.png") no-repeat;
      background-size: contain !important;
      color: #fff;
    }
    .fix-black {
      .fix-white;
      .px2rem(margin-top, 15);
      .px2rem(margin-bottom, 15);
      background: url("../img/fix-black@2x.png") no-repeat;
    }
    .fix-share {
      .fix-white;
      background: url("../img/fix-share@2x.png") no-repeat;
    }
  }
}

// 购买红包
.buy-packet {
  .main {
    .px2rem(margin-bottom, 98);
  }
  .service {
    display: inline-block;
    .px2rem(padding-top, 25);
    .px2rem(padding-left, 20);
    .px2rem(margin-bottom, 45);
    .px2rem(font-size, 24);
    color: #26B2BA;
    img {
      .px2rem(width, 21);
      .px2rem(height, 19);
    }
  }
  .banner {
    width: 100%;
    .px2rem(height, 190);
    background: url("../img/hongbaobanner@2x.png") no-repeat;
    background-size: cover;
  }
  .title {
    .global-title;
    background-color: rgb(245, 245, 245);
  }
  .control {
    text-align: center;
    border-top: 1px solid @global-border-color;
    border-bottom: 1px solid @global-border-color;
    .px2rem(padding-top, 12);
    .px2rem(padding-bottom, 12);
    button {
      border: none;
      .px2rem(width, 259);
      .px2rem(height, 88);
      background: url("../img/checkout-packet@2x.png") no-repeat;
      background-size: contain;
    }
  }
  .project {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid @global-border-color;
    .description {
      .px2rem(padding-top, 36);
      position: relative;
      .px2rem(padding-right, 38);
      .px2rem(padding-left, 20);
      .px2rem(padding-bottom, 36);
      .img {
        float: left;
        .px2rem(width, 140);
        .px2rem(height, 140);
        .px2rem(margin-right, 20);
        background-color: pink;
      }
      .info {
        position: relative;
        display: inline-block;
        .px2rem(width, 468);
        .px2rem(height, 140);
        .sec-title {
          width: 100%;
          .px2rem(font-size, 28);
          .px2rem(line-height, 28);
          color: @global-gray;
        }
        .time {
          position: absolute;
          bottom: 0;
          left: 0;
          .px2rem(font-size, 24);
          .px2rem(line-height, 24);
          color: @global-lighter-gray;
          img {
            vertical-align: sub;
            .px2rem(height, 28);
            .px2rem(width, 27);
          }
          .complete {
            display: inline-block;
            .px2rem(margin-left, 20);
            img {
              .px2rem(width, 82);
              .px2rem(height, 30);
            }
          }
        }
      }
      .state-unselected {
        position: absolute;
        .px2rem(bottom, 20);
        .px2rem(right, 38);
        .px2rem(height, 70);
        .px2rem(width, 70);
        background: url("../img/unselected@2x.png") no-repeat;
        background-size: contain;
      }
      .state-selected {
        background: url("../img/selected@2x.png") no-repeat !important;
        background-size: contain !important;
      }
      .state-more-unselected {
        position: absolute;
        .px2rem(bottom, 20);
        .px2rem(right, 38);
        .px2rem(height, 97);
        .px2rem(width, 79);
        background: url("../img/more-unselected@2x.png") no-repeat;
        background-size: contain;
      }
      .state-more-selected {
        background: url("../img/more-selected@2x.png") no-repeat !important;
        background-size: contain !important;
      }
    }
  }
  .set {
    display: none;
    .packet-set {
      .px2rem(font-size, 28);
      .px2rem(line-height, 81);
      .px2rem(padding-top, 20);
      .px2rem(padding-right, 25);
      .px2rem(padding-bottom, 20);
      .px2rem(padding-left, 25);
      border-bottom: 1px solid @global-border-color;
      border-top: 1px solid @global-border-color;
      .money {
        .selector {
          float: right;
          select {
            text-align: center;
            .px2rem(padding-left, 50);
            .px2rem(width, 167);
            .px2rem(height, 81);
            .px2rem(font-size, 24);
            background: url("../img/Group@2x.png") no-repeat;
            background-size: contain;
            border: none;
          }
        }
      }
      .amount {
        .money;
        .px2rem(margin-top, 30);
        .selector {
          select {
            .px2rem(padding-left, 70);
          }
        }
      }
    }
    .filter {
      .global-title;
      border-bottom: 1px solid @global-border-color;
    }
    .sel {
      .px2rem(font-size, 24);
      .px2rem(line-height, 94);
      color: @global-light-gray;
      p {
        .px2rem(padding-left, 25);
        border-bottom: 1px solid @global-border-color;
        input {
          position: relative;
          .px2rem(width, 31);
          .px2rem(height, 31);
          .px2rem(margin-right, 10);
          &::before {
            content: '';
            position: absolute;
            .px2rem(top, -2);
            .px2rem(left, -2);
            .px2rem(width, 31);
            .px2rem(height, 31);
            background: url("../img/unselected-small@2x.png") no-repeat;
            background-size: contain;
          }
          &:checked::before {
            content: '';
            background: url("../img/selected-small@2x.png") no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .buy {
      .px2rem(margin-bottom, 20);
      text-align: center;
      a {
        display: inline-block;
        .px2rem(width, 260);
        .px2rem(height, 89);
        background: url("../img/buy-pocket@2x.png") no-repeat;
        background-size: contain;
      }
    }
  }
  .model {
    display: none;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .8);
    }
    .content {
      box-sizing: border-box;
      .px2rem(padding-left, 40);
      .px2rem(padding-right, 20);
      .px2rem(width, 659);
      .px2rem(height, 1090);
      position: absolute;
      top: 50%;
      left: 50%;
      .px2rem(margin-top, -580);
      .px2rem(margin-left, -330);
      background: url("../img/tancengbg@2x.png") no-repeat;
      background-size: contain;
      .service-title {
        color: @global-theme-color;
        .px2rem(font-size, 28);
        .px2rem(padding-top, 50);
        .px2rem(padding-bottom, 55);
      }
      .rules {
        .px2rem(font-size, 28);
        overflow-y: scroll;
        .px2rem(height, 720);
        color: @global-light-gray;
        .px2rem(margin-bottom, 40);
      }
      .close {
        text-align: center;
        button {
          .px2rem(width, 259);
          .px2rem(height, 88);
          background: url("../img/yiyue@2x.png") no-repeat;
          background-size: contain;
          border: none;
        }
      }
    }
  }
  .checkout-packet {
    text-align: center;
    display: none;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    color: #666;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .8);
    }
    .content-box {
      position: absolute;
      top: 50%;
      left: 50%;
      .px2rem(margin-left, -330);
      .px2rem(margin-top, -600);
    }
    .content {
      box-sizing: border-box;
      margin: 0 auto;
      .px2rem(margin-top, 200);
      .px2rem(padding-left, 10);
      .px2rem(padding-right, 10);
      .px2rem(width, 659);
      .px2rem(height, 611);
      background: url("../img/model-checkout-packet@2x.png") no-repeat;
      background-size: contain;
    }
    .last {
      .px2rem(padding-top, 50);
      .px2rem(padding-bottom, 35);
      text-align: center;
      .px2rem(font-size, 28);
      border-bottom: 2px dotted #c0c0c0;
      .last-money {
        .px2rem(font-size, 36);
        font-weight: bold;
        color: #00cbd3;
      }
    }
    .log {
      text-align: center;
      .px2rem(padding-left, 20);
      .px2rem(padding-right, 20);
      .log-title {
        .px2rem(margin-top, 30);
        .px2rem(margin-bottom, 52);
        .px2rem(font-size, 28);
        .px2rem(line-height, 28);
      }
      ul {
        .px2rem(padding-left, 20);
        .px2rem(padding-right, 20);
        .px2rem(height, 200);
        overflow-y: scroll;
        li {
          position: relative;
          text-align: left;
          .px2rem(margin-bottom, 50);
          .px2rem(height, 60);
          .log-img {
            display: inline-block;
            .px2rem(margin-right, 15);
            .px2rem(height, 60);
            .px2rem(width, 60);
            background-color: pink;
            .px2rem(border-radius, 30);
            vertical-align: top;
          }
          .log-details {
            height: 100%;
            display: inline-block;
            .px2rem(font-size, 24);
            .px2rem(line-height, 24);
            .log-state {
              position: absolute;
              right: 0;
              top: 0;
            }
            .log-amount {
              position: absolute;
              right: 0;
              top: 0;
              .px2rem(margin-right, 100);
            }
          }
          .log-time {
            position: absolute;
            bottom: 0;
            .px2rem(font-size, 20);
            color: #AAA;
          }
        }
      }
      .now {
        .px2rem(margin-top, 20);
        .px2rem(font-size, 30);
        color: rgb(121, 155, 155);
      }
    }
    .close-checkout-packet {
      .px2rem(margin-top, 35);
      border: none;
      .px2rem(height, 68);
      .px2rem(width, 68);
      background: url("../img/close-checkout-packet@2x.png") no-repeat;
      background-size: contain;
    }
  }
}